body {

    font-family: Arial, Helvetica, sans-serif;

    margin: 0;

}

 header.h1 {

    font-size: 50 px;

}

 .images {

    margin-left: 40px;

    margin-right: 15px;

    flex-basis: 150px;

    justify-content: center;

    align-content: center;

    align-items: center;

}
a.home-link {
    display: inline-block;
    padding: 5px 15px;
    background-color:rgb(149, 188, 138);;  
    color: white;
    text-decoration: none;
    border-radius: 5px;
   

  }
  
  a.home-link:hover {
    background-color:rgb(149, 205, 166)
  }
  

.food {

    margin-left: 15px;

    margin-right: 20px;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-gap: 20px;

    margin-bottom: 40px;

}

 .food img {

    width: 350px;
    height: 300px;
   

    margin-bottom: 5px;

}
.row {

    display: flex;

    flex-wrap: wrap;

}

 .element.style {
    font-family: EpicRide,serif;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 44px;
    line-height: 1em;
    text-transform: none;
}
h1 {
    font-size: 40px;
    line-height: 1.25em;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin: 20px 0;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    color: #000;
}
body {
    font-family: Lora,serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.69em;
    color: #565050;
    background-color: #fff;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}
body {
    font-size: 16px;
  }

  @media only screen and (max-width: 390px) {
    .food {

        margin-left: 0px;
    
        margin-right: 0px;
    
        display: grid;
    
        grid-template-columns: repeat(1, 1fr);
    
        grid-gap: 20px;
    
        margin-bottom: 40px;
    
    }
    
     .food img {
    
        width: 390px;
        height: 250px;
       
    
        margin-bottom: 5px;
    
    }
    h1 {
        font-size: 20px;
        line-height: 1.25em;
        font-weight: 400;

  }
}
  @media only screen and (max-width: 414px) {
   
    .food img {
    
        width: 414px;
        height: 250px;
       
    
        margin-bottom: 5px;
    
    }
    .food {

        margin-left: 0px;
    
        margin-right: 0px;
    
        display: grid;
    
        grid-template-columns: repeat(1, 1fr);
    
        grid-gap: 20px;
    
        margin-bottom: 40px;
    
    }
  }
  @media only screen and (max-width: 360px) {
    .food img {
    
        width: 360px;
        height: 250px;
       
    
        margin-bottom: 5px;
    
    }
    .food {

        margin-left: 0px;
    
        margin-right: 0px;
    
        display: grid;
    
        grid-template-columns: repeat(1, 1fr);
    
        grid-gap: 20px;
    
        margin-bottom: 40px;
    
    }
  }
  @media only screen and (max-width: 280px) {
    .food img {
    
        width: 280px;
        height: 200px;
       
    
        margin-bottom: 5px;
    
    }
    .food {

        margin-left: 0px;
    
        margin-right: 0px;
    
        display: grid;
    
        grid-template-columns: repeat(1, 1fr);
    
        grid-gap: 20px;
    
        margin-bottom: 40px;
    
    }
    body {
        font-family: Lora,serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.69em;
        color: #565050;
        background-color: #fff;
        overflow-x: hidden!important;
        -webkit-font-smoothing: antialiased;
    }
    h1 {
        font-size: 15px;
        line-height: 1.25em;
        font-weight: 400;

  }
}
@media only screen and (max-width: 412px) {
    .food img {
    
        width: 412px;
        height: 300px;
       
    
        margin-bottom: 5px;
    
    }
    .food {

        margin-left: 0px;
    
        margin-right: 0px;
    
        display: grid;
    
        grid-template-columns: repeat(1, 1fr);
    
        grid-gap: 20px;
    
        margin-bottom: 40px;
    
    }
    body {
        font-family: Lora,serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.69em;
        color: #565050;
        background-color: #fff;
        overflow-x: hidden!important;
        -webkit-font-smoothing: antialiased;
    }
    h1 {
        font-size: 15px;
        line-height: 1.25em;
        font-weight: 400;

  }
}